@using System.Collections.Generic
@model IList<TelecomPackage>

@{
    ViewData["Title"] = "套餐信息表";
}

<div class="page-header">
    <h2>套餐信息表</h2>
    <h4>查看所有可用的套餐详细信息</h4>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <th>#</th>
            <th>套餐名称</th>
            <th>定价</th>
            <th>套餐内可用量</th>
            <th>超出套餐外单价</th>
            @if ((bool)ViewData["IsCashier"])
            {
                <th>操作</th>
            }
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                var pkg = Model[i];
                
                <tr>
                    <td>@(i + 1)</td>
                    <td>@(pkg.Name)</td>
                    <td>@(pkg.Price.ToString("C"))</td>
                    <td>@(pkg.BaseUsage) 度(千瓦时 KW·h)</td>
                    <td>@(pkg.OutPrice.ToString("C"))</td>
                    @if ((bool)ViewData["IsCashier"])
                    {
                        <td><a asp-controller="Manage" asp-action="EditPackage" asp-route-id="@(pkg.ID)">编辑</a></td>
                    }
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Count == 0)
    {
        <div class="alert alert-info">
            <strong>提示：</strong>
            没有找到可用套餐信息。
        </div>
    }
    
    @if ((bool)ViewData["IsCashier"])
    {
        <div style="text-align: center; margin-top: 20px;">
            <a asp-controller="Manage" asp-action="AddPackage" class="btn btn-primary">添加新套餐</a>
        </div>
    }
</div>
