@model CommentViewModel

@if (Model.IsStaff)
{
    <div class="page-header"><h2>收到的评论</h2></div>
    
    @if (Model.ReceiveComments.Count() == 0)
    {
        <div class="alert alert-info" role="alert">
            <strong>提示：</strong>
            还没有人对您有过评论。
        </div>
    }
    else
    {
        <div class="list-group">
            @foreach (var rr in Model.ReceiveComments)
            {
                <a asp-action="CommentDetail" asp-controller="User" asp-route-id="@(rr.ID)" class="list-group-item">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="list-group-item-heading">@(rr.SupporterName.Substring(0, 2) + "***")</h4>
                            <p class="list-group-item-text" style="color: rgb(154, 207, 234);">
                                @(rr.Time.ToString("yyyy-MM-dd HH:mm:ss"))
                            </p>
                        </div>
                        <div class="col-md-4">
                            <input type="number" class="rating" data-readonly="true" data-glyphicon="false" data-size="xs"
                                data-show-clear="false" data-show-caption="false" value="@(rr.Rating)" >
                        </div>
                    </div>
                    <p class="list-group-item-text">@rr.RatingMsg</p>
                </a>
            }
        </div>
    }
    
    <div class="page-header"><h2>发出的评论</h2></div>
}

@if (Model.Comments.Count() == 0)
{
    <div class="alert alert-info" role="alert">
        <strong>提示：</strong>
        您还没有评论过其他人。
    </div>
}
else
{
    <div class="list-group">
        @foreach (var rr in Model.Comments)
        {
            <a href="@Url.Action("Comment", "User", new { id = rr.SupporterName })" class="list-group-item">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="list-group-item-heading">@rr.SupporterName</h4>
                        <p class="list-group-item-text" style="color: rgb(154, 207, 234);">
                            @(rr.Time.ToString("yyyy-MM-dd HH:mm:ss"))
                        </p>
                    </div>
                    <div class="col-md-4">
                        <input type="number" class="rating" data-readonly="true" data-glyphicon="false" data-size="xs"
                            data-show-clear="false" data-show-caption="false" value="@(rr.Rating)" >
                    </div>
                </div>
                <p class="list-group-item-text">@rr.RatingMsg</p>
            </a>
        }
    </div>
}

@if (Model.ReceiveComments.Count() != 0 || Model.Comments.Count() != 0)
{
    <environment names="Development">
        <script src="~/lib/bootstrap-star-rating/js/star-rating.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/bootstrap-star-rating/js/star-rating.min.js"></script>
    </environment>
}
