@using System.Collections.Generic
@model IEnumerable<PaymentRecord>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>时间</th>
                <th>缴费金额</th>
                <th>收款人员</th>
                <th>备注</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var pr in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@pr.Time.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>@pr.PayOut</td>
                        if (string.IsNullOrEmpty(pr.CashierName))
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>
                                <a href="@Url.Action("UserInfo", "User", new { id = pr.CashierName })">@pr.CashierName</a>
                            </td>
                        }
                        <td>@pr.Msg</td>
                    </tr>
                    
                    i++;
                }
            }
        </tbody>
    </table>
    @if (Model.Count() == 0)
    {
        <div class="well">
            <p>好像还没有缴费记录</p>
        </div>
    }
</div>
